<!-- head -->
<%- include('partials/head',{title:"detalle"}) %>

  <body>
    <!-- Navbar (sit on top) -->
    <%- include('partials/nav-bar',{status:false}) %>

    <!-- Header -->
    <%- include('partials/header') %>

      <!-- Page content -->
      <%- include('partials/page-content-ditail') %>

        <!-- Footer -->
          <%- include('partials/footer') %>
  </body>

  </html>