<%- include('partials/head',{title:"Inicio"}) %>

  <body>
    <!-- Navbar (sit on top) -->
    <%- include('partials/nav-bar',{title:"Inicio"}) %>

    <!-- Header -->
      <%- include('partials/header') %>

    <!-- Page content -->
      <%- include('partials/page-content') %>

    <!-- Footer -->
      <%- include('partials/footer') %>    
  </body>

  </html>